<!-- views/partials/footer.ejs -->
<footer class="bg-light text-dark py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-3">StayBnB</h5>
          <p>Your home away from home. Discover amazing places to stay, explore new destinations, and share your experiences.</p>
        </div>
        <div class="col-md-2">
          <h5 class="mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/listings">Explore</a></li>
            <li><a href="/listings/new">Add Your Place</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            
          </ul>
        </div>
        <div class="col-md-2">
          <h5 class="mb-3">Legal</h5>
          <ul class="list-unstyled">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">Follow Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-3">
          <p>&copy; <%= new Date().getFullYear() %> StayBnB. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
  